<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
    <add key="debug:show-errorPage" value="true"/>
    <add key="api:url-prefix" value="api/v1"/>
    <add key="api:url-base" value="/"/>
    <add key="app:name" value="Auctor"/>
    <add key="app:default-document" value="index.html"/>
    <add key="app:error-document" value="error.html"/>
    <add key="db:schema" value="public"/>
  </appSettings>-->
  <!--<connectionStrings>
    <add name="auctor-db" connectionString="Host=localhost;Username=postgres;Password=defeat93;Database=auctor;Port=5433"/>
    <add name="postgres-db" connectionString="Host=localhost;Username=postgres;Password=defeat93;Database=postgres;Port=5433"/>
  </connectionStrings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6" maxRequestLength="10000000"/>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="error"/>
    <httpCookies httpOnlyCookies="true"/>
  </system.web>
  <!--<system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL"
        type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
  </system.data>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication"/>
      <remove name="WebDAVModule"/>
    </modules>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
      preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>